version: '3.8'

services:
  # 연구자 1의 이미지: 실행되면 train.py가 돌아가며 model.pkl을 생성함
  researcher1-task:
    image: a0323/m15_1:v1
    container_name: researcher1
    user: "1000:100" # jovyan과 동일한 UID/GID
    volumes:
      - shared-volume:/app/output # 모델이 저장되는 경로

  # 연구자 2의 이미지: Jupyter Notebook 환경
  researcher2-jupyter:
    build: .
    container_name: researcher2
    user: "1000:100" # 동일하게 맞춤
    ports:
      - "8888:8888"
    volumes:
      - shared-volume:/home/jovyan/work/shared # 연구자 1의 결과물을 받는 경로
      - ./inference.ipynb:/home/jovyan/work/inference.ipynb
    depends_on:
      - researcher1-task

volumes:
  shared-volume:
