version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "18000:8000"
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]

  frontend:
    build: ./frontend
    ports:
      - "18501:8501"
    volumes:
      - ./frontend:/app
    environment:
      - BACKEND_URL=http://backend:8000
      - BACKEND_URL_BROWSER=http://localhost:18000
    depends_on:
      - backend
